<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const username = window.localStorage.getItem('username')
        if(!username) window.location = '/login'
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Socket APP.</h1>

    <input type="text" placeholder="Enter text" id="input">

    <div id="div">
        

    </div>

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>